/.idea/
/.vscode/*.local.json
/.env
/.env.*
!/env.example

/target/
**/target/

/node_modules/
**/node_modules/
**/dist/
*.tsbuildinfo
**/src-tauri/gen/schemas/

*.db
*.db-shm
*.db-wal
*.log
*.singularis-vault
